@model CorkBoardProject.Models.Corkboard
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<hr />
<div class="row">
    <input onclick="window.location.href='@Url.Action("Index", "CorkBoard")';" type="submit" value="Back" class="btn btn-default" />
</div>