
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    St FinBarss Way,<br />
    2, Community road,<br />
    Akoka, Yaba,<br />
    Lagos State<br />
    <abbr title="Phone">P:</abbr>
    +2348184079896
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">help@CorkBoardIt.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@CorkBoardIt.com</a>
</address>