@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin:30px 10px 10px 10px">
    <h1>CorkBoardIt</h1>
    <p class="lead">
       Explore.<br/>Share.<br/>Inspire.  
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



