@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin:30px 10px 10px 10px">
    <h1>CorkBoardIt</h1>
    <p class="lead">
       Explore.<br/>Share.<br/>Inspire.  
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            CorkBoardIt is an online forum for creating CorkBoards, filling them with pictures (called PushPins), and
            sharing them with your friends
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Popular tags</h2>
        <p>Get all popular tags which might be your favourite, which makes you get your popular CorkBoard and PushPins.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

